<h1 class="title"> <%= @article.title %></h2>
<%= Kramdown::Document.new(@article.content).to_html %>
<p class="author"> <%= @article.author %></p>
<%= link_to "Edit", edit_article_path %>
<%= link_to "Articles", articles_path %>
